body{
    background-color: burlywood;
    text-align: center;
}
img{
    margin-top: 3rem;
}
img:hover{
    transform: translateY(-3rem);
}
.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a{
    color: #fee389;
}
a:hover{
    color: blue;
}